
/* some of these are not used, but the webpage works so I refrain from touching it*/

.navi{ /* for navigation bar */

	background-color: #d6e3ca;
	font-size: 40px;
	margin: 0px;
	padding : 15px;
	
	}
	

.navi a{ /* for anchor of navigation bar */

	color: #003c00; 
	text-decoration: none;
	padding: 8.2%;
	text-align: center;
	
}

.homepg{ /* sets the main page up. info bar and creates solid border which is a bit thicker on the left*/

	background-color: rgba(255, 255, 255, .13);
	border-left: solid;
	border-left-width: 30px;
	border-color: rgba(255,255,255,.7);
	padding: 20px;
	margin: 50px;
	text-align: left;
	font-family: Simple Print;
	font-size: 50 px;
}

.images{ /* images with scroll overflow*/

	background-color: rgba(214, 227, 202, .7);
	border-right: solid;
	border-right-width: 10px;
	border-color: rgba(214,227,202,.7);
	padding: 20px;
	margin: 50px;
	font-family: Simple Print;
	overflow-y: scroll;


}

.three{ /* not in use */

	background-color: rgba(0, 5, 103, .5);
	border-right: solid;
	border-right-width: 10px;
	border-color: rgba(0,55,126,.7);
	padding: 20px;
	margin: 50px;
	font-family: Simple Print;
	text-align: left;

}

.fbf{ /* not in use */

	background-color: rgba(104, 0, 122, .4);
	border-left: solid;
	border-left-width: 10px;
	border-color: rgba(110,0,110,.7);
	padding: 20px;
	margin: 50px;
	font-family: Simple Print;
	text-align: left;

}
.pp{ /* not in use */
	background-color: rgba(30, 63, 31, .4);
	border-right: solid;
	border-right-width: 10px;
	border-color: rgba(30,63,31,.7);
	padding: 20px;
	margin: 50px;
	font-family: Simple Print;
	text-align: left;
}

.scr{ /* not in use */

  	padding: 10px;
  	overflow-y: scroll;
  	align-self: center;
  	width: 100%;
  	height: 600px;
}


.Attr{

	background-color: rgba(0, 0, 0, .7);
	border-left: solid;
	border-left-width: 10px;
	border-color: rgba(255,255,255,.8);
	padding: 20px;
	margin: 50px;
	text-align: left;
	font-family: Simple Print;
}

.nav{ /* styling for navigation */
	border: solid;
	border-color: #003c00;
	width: 350px;
	text-decoration: none;
}




td{ /* styling for data in table */

	border: solid;
	border-color: antiquewhite;
	padding-left: 22px;
	padding-right: 22px;

}

.sup{ /* not in use */

	border: solid;
	border-color: antiquewhite;
	padding-left: 1px;
	padding-right: 1px;
}

.sups{ /* not in use */

	border: solid;
	border-color: antiquewhite;
	padding: none;
	padding-left: none;
	padding-right: none;
	margin-right: none;
	margin-left: none;
	margin-bottom: none;
	margin-top: none;

}

.super{ /* not in use */

	border: solid;
	border-color: antiquewhite;
	padding: none;
	padding-left: none;
	padding-right: none;
	margin-right: none;
	margin-left: none;
	margin-bottom: none;
	margin-top: none;
}

.supl{  /* not in use */

	border: solid;
	border-color: antiquewhite;
	padding: none;
	padding-left: none;
	padding-right: none;
	margin-right: none;
	margin-left: none;
	margin-bottom: none;
	margin-top: none;
	font-size: 20px;
	overflow-y: scroll;
	height: 200px;
}

body{ /* changes style of entire body */

	font-family: BigNoodleTitling;
	font-size: 40px;
	color: white;
	margin: 0px;
	padding : 0px;
	background-size: 100%;

}

h1{ /* for all headers unless overridden*/
	color: white;
	font-size: 60px;
	text-align: center;

}




ul{ /* for the unordered lists (citation)*/
	margin: 0;
	padding: 0;

}


li:hover{ /*  citation dropdown */
	background-color: rgba(0,0,0,.4);
}

li{ /*  citation code styled*/
	color: white;
	padding: 10px;
	background-color: rgba(0,0,0,.4);
	font-family: Saker Sans Medium PERSONAL USE;
	font-size: 35px;
	text-decoration: none;
	text-align: left;
}

.sss{ /* not in use */

	color: white;
	padding: 10px;
	background-color: rgba(0,0,0,.4);
	font-family: Simple Print;
	font-size: 45px;
	text-decoration: none;

}

ol{ /*  not in use*/
	background-color: rgba(0,0,0,.4);
	
}

.dropdown-content{ /* for dropdowns */
	font-size: 15px;
	display: none;
	padding: 0;
	margin: 1;
}


.dropdown:hover{
	background-color: rgba(0,0,0,.4);

}

.dropdown:hover .dropdown-content{
	display: block;
	font-family: B612;
	color: white;
	

}

.yurt { /* not in use */
	list-style-type: circle;
	color: white;
	text-decoration: none;
}

.top { /* Animation for day to night of space needle */
  
  display: block;
  margin: 45px;
  padding: 45px;
  background-image:url("Day.png");
  position: relative;'
  width: 400px;
  height: 267px;
  background-repeat: no-repeat;
  
  
  

  animation-name: Top;
  animation-timing-function: linear;
  animation-duration: 2.0s;
  animation-iteration-count: 100000;
 
}

@keyframes Top { /* keyframes for animation top */
  0% {font-size: 0px; background-image: url("Day.png");}
  100% {font-size: 0px; background-image: url("Night.jpeg");}
}

.Wash {
	background-color: rgba(0,0,0,.4); 
}

.Fall { /* second animation from image of waterfall during summer and winter */

  
  display: block;
  margin: 45px;
  padding: 45px;
  background-image:url("SummerFall.jpeg");
  position: relative;'
  width: 400px;
  height: 267px;
  background-repeat: no-repeat;
  
  
  

  animation-name: Fall;
  animation-timing-function: linear;
  animation-duration: 2.0s;
  animation-iteration-count: 100000;
 
}

@keyframes Fall {
  0% {font-size: 0px; background-image: url("SummerFall.jpeg");}
  100% {font-size: 0px; background-image: url("WinterFall.jpeg");}